.shopping-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  &__item {
    font-size: 16px;
    display: flex;
    padding: 5px 15px;
    align-items: center;

    &-text {
      padding: 0 15px;
      font-weight: 300;
      color: #a9a9a9;
    }

    &-container {
      display: flex;
    }
  }
}
