.favourite-dropdown {
  &__container {
    width: 30rem;
    position: absolute;
    right: 13rem;
    top: 100%;
    overflow: scroll;
    height: 28rem;
    border: 1px solid #f8f8f8;
    z-index: 10;
    background-color: rgba(248, 248, 248, 0.86);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.35);
  }
}
