.search {
  width: 100%;
  position: relative;

  &__container {
    &--main {
      width: 75%;
      margin-top: 2rem;
      animation-name: moveInTopBounce;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    }

    &--header {
      width: 45%;
    }
  }

  &__input {
    float: left;
    width: 100%;
    border: 3px solid #00b4cc;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    color: #9dbfaf;
    font-size: 1.6rem;

    &--header {
      height: 3.5rem;
    }

    &--main {
      height: 4.5rem;
    }

    &:focus {
      color: #00b4cc;
    }
  }

  &__button {
    position: absolute;
    right: -3rem;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    width: 5rem;
    height: 4.5rem;
    color: $color-white;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 2rem;

    &--main {
      width: 5rem;
      height: 4.5rem;
    }

    &--header {
      width: 4.5rem;
      height: 3.5rem;
    }
  }
}
