*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Lato', 'sans-serif';
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .8rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTopBounce {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(2rem);
    opacity: 50%; }
  100% {
    opacity: 1;
    transform: translate(0); } }

.home {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
  background-size: cover;
  background-position: top; }
  .home__text-box {
    width: 100vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }

.search {
  width: 100%;
  position: relative; }
  .search__container--main {
    width: 75%;
    margin-top: 2rem;
    animation-name: moveInTopBounce;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .search__input {
    float: left;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: .5rem;
    height: 4.5rem;
    border-radius: .5rem;
    outline: none;
    color: #9DBFAF;
    font-size: 1.6rem; }
    .search__input:focus {
      color: #00B4CC; }
  .search__button {
    position: absolute;
    right: -3rem;
    width: 5rem;
    height: 4.5rem;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 2rem; }
