*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  min-height: 100%; }

body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7; }

a {
  text-decoration: none; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-secondary {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
  color: #203a43; }

.heading-tertiary {
  transition: 0.4s ease-in-out;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #187d9b;
  letter-spacing: 2px;
  padding: 1rem 0.5rem; }
  .heading-tertiary:hover {
    color: #1eadd8; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTopBounce {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  80% {
    transform: translateY(2rem);
    opacity: 50%; }
  100% {
    opacity: 1;
    transform: translate(0); } }

.home {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
  background-size: cover;
  background-position: top; }
  .home__text-box {
    width: 100vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; }

.search-results {
  background-color: #0f202708;
  width: 100%;
  height: 100%; }
  .search-results__container {
    padding-top: 12.5rem;
    margin: 0 auto;
    background-color: #fff;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%; }

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 10vh;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #0f2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.search {
  width: 100%;
  position: relative; }
  .search__container--main {
    width: 75%;
    margin-top: 2rem;
    animation-name: moveInTopBounce;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .search__container--header {
    width: 45%; }
  .search__input {
    float: left;
    width: 100%;
    border: 3px solid #00b4cc;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    color: #9dbfaf;
    font-size: 1.6rem; }
    .search__input--header {
      height: 3.5rem; }
    .search__input--main {
      height: 4.5rem; }
    .search__input:focus {
      color: #00b4cc; }
  .search__button {
    position: absolute;
    right: -3rem;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    width: 5rem;
    height: 4.5rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 2rem; }
    .search__button--main {
      width: 5rem;
      height: 4.5rem; }
    .search__button--header {
      width: 4.5rem;
      height: 3.5rem; }

.recipe-card {
  height: 25rem;
  flex: 0 0 calc(25% + 20px);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin: 2rem;
  animation: 0.3s ease-in;
  background-color: #fff; }
  .recipe-card .heading-tertiary {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipysis; }
  .recipe-card__img {
    width: 100%;
    height: 65%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: solid 1px #e3e3e3;
    position: relative; }
  .recipe-card:hover {
    transform: translateY(-2px) scale(1.02);
    background-color: #fafafa; }

.favourite {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2.5rem;
  color: #f00; }

.favourite-dropdown-button {
  display: block;
  font-size: 3.5rem;
  color: #539fbf;
  z-index: 1; }
  .favourite-dropdown-button__container {
    position: absolute;
    right: 15rem;
    cursor: pointer;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .favourite-dropdown-button__container:not(.hidden) {
      background-color: #0a1a21; }
      .favourite-dropdown-button__container:not(.hidden)::after {
        content: "";
        border-top: 15px solid #fff;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-radius: 2px;
        position: absolute;
        top: 50px;
        right: 9px;
        transform: rotate(180deg); }
  .favourite-dropdown-button:hover {
    color: #65c1e9; }

.favourite-dropdown {
  height: 38rem;
  border: 1px solid #f8f8f8;
  z-index: 10;
  background-color: rgba(248, 248, 248, 0.86);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
  width: 30rem;
  position: absolute;
  right: 13rem;
  top: 100%;
  text-align: center;
  padding-top: 1rem; }
  .favourite-dropdown__title {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    -webkit-background-clip: text;
    display: inline-block;
    padding-bottom: 1rem; }
  .favourite-dropdown__container {
    width: 100%;
    height: calc(100% - 44px);
    overflow: scroll;
    padding-bottom: 4rem; }

.favourite-see-all {
  color: #539fbf;
  font-size: 1.6rem;
  letter-spacing: 1px;
  transition: 0.5s ease-in; }
  .favourite-see-all:hover {
    color: #65c1e9;
    border-bottom: #65c1e9; }
  .favourite-see-all__container {
    position: absolute;
    height: 5rem;
    background-color: #fff;
    width: 100%;
    top: 87%;
    display: flex;
    justify-content: center;
    align-items: center; }

.counter {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10%;
  right: 0%;
  border-radius: 50%;
  background-color: #e80606;
  width: 1.5rem;
  height: 1.5rem; }
  .counter-amount {
    color: #fff; }

.recipe-ingredients {
  flex: 0 1 calc(33% - 2rem);
  font-size: 1.6rem;
  margin: 1rem; }
  .recipe-ingredients__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 4rem; }

.shopping-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; }
  .shopping-list .shopping-list__item {
    font-size: 16px;
    display: flex;
    padding: 5px 15px;
    align-items: center; }
    .shopping-list .shopping-list__item .shopping-list__item-text {
      padding: 0 15px; }
