body {
  font-family: "Lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.8rem;
    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-tertiary {
  transition: 0.4s ease-in-out;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  color: #187d9b;
  letter-spacing: 2px;
  padding: 1rem 0.5rem;

  &:hover {
    color: #1eadd8;
  }
}
